baseURL = '/'
languageCode = 'en-us'
title = 'Kamil Sharip'
theme = 'gokarna'
timezone = "Asia/Singapore"

# Automatically generate robots.txt
enableRobotsTXT = true
enableEmoji = true

[menu]
[[menu.main]]
  identifier = "home"
  name = "Home"
  url = "/"
  pre = "<span data-feather='home'></span>"
  weight = 1

  [[menu.main]]
    identifier = "posts"
    url = "/posts/"
    pre = "<span data-feather='book'></span>"
    name = "Posts"
    weight = 2

  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    pre = "<span data-feather='tag'></span>"
    weight = 3

  [[menu.main]]
    identifier = 'github'
    url = "https://github.com/Berlime/hugo"
    weight = 4

    # We use feather-icons: https://feathericons.com/
    pre = "<span data-feather='github'></span>"

  [[menu.main]]
    identifier = "coffee"
    url = "https://www.buymeacoffee.com/berlime5"
    weight = 4
    pre = "<span data-feather='coffee'></span>"

[params]
  # URL for the avatar on homepage
  avatarURL = "/images/avatar/kamil.avif"

  # Choose one of size-xs, size-s, size-m, size-l & size-xl. (Default: size-m)
  avatarSize = "size-m"

  # Description to display on homepage
  socialIcons = [
    {name = "facebook", url = "https://www.facebook.com/Berlime5"},
    {name = "instagram", url = "https://www.instagram.com/Berlime"},
    {name = "linkedin", url = "https://www.linkedin.com/in/berlime-solutions/"},
    {name = "email", url = "mailto:kamil@berlime.com"},
    {name = "twitter", url = "https://x.com/berlime"},
  ]

  description = "Welcome to my latest edition, Alter Ego 2. A continuation from berlime5.blogspot.com"

  # Accent color is displayed when you hover over <a> tags
  accentColor = "#FF4D4D"

  # Display "back to top" button on posts
  ShowBackToTopButton = true

  # You can use this to inject any HTML in the <head> tag.
  # Ideal usecase for this is to import custom js/css or add your analytics snippet
  customHeadHTML = '''
    <script defer src= "https://umami.berl.ink/script.js" data-website-id="7705d7cf-9b4c-4fc7-a1f5-f38e507ce196"></script>
    '''

# date format
 dateFormat = "2 January, 2006"

  # Keywords relevant for SEO
  metaKeywords = ["blog", "gokarna", "hugo", "dev", "bricks builder", "wordpress"]

  # If you want to display posts on the homepage, the options are
  # "popular" (order posts by weight), "recent" (order posts by date)
  # or "" (do not display, default option)
  showPostsOnHomePage = "recent"
  numberPostsOnHomePage = 10

  togglePreviousAndNextButtons = true

  # Footer text
  footer = "The Marauders"

[module]
  [[module.mounts]]
    source = 'images'
    target = 'static/images'

[markup.highlight]
  codeFences = true
  style = "monokai"

[minify]
# optional: control whether final published output is minified
minifyOutput = true

[minify.tdewolff.html]
keepWhitespace = true

[minify.tdewolff.xml]
keepWhitespace = true

